@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h4>Add a New Client</h4>
@using (Html.BeginForm())
{
  @Html.Hidden("StylistId", $"{ViewBag.StylistId}")
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  <input type="submit" value="Add new client" />
}
<hr/>
<p>@Html.ActionLink("Show all Stylists", "Index", "Stylists")</p>